/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


.header {
    text-align: center;
}


/* Nav items */

.nav-list {
    display: flex;
    justify-content: center;
}

.nav-list-item {
    margin: 0 1em;
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
}